@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CHSStyles.css" rel="stylesheet" />
<!--Carousel Starts -->

<div id="carousel">
    <div class="col-sm-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="carousel-img" src="http://placehold.it/1150x500/302235/ffffff" alt="Slide 1">
                </div>
                <div class="item">
                    <img class="carousel-img" src="http://placehold.it/1150x500/573e5f/ffffff" alt="Slide 2">
                </div>
                <div class="item">
                    <img src="http://content.latest-hairstyles.com/wp-content/uploads/2014/06/Short-Hairstyle-with-Side-Swept-Bangs-500x333-14342248243.jpg" alt="Slide 2">
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<!--Carousel ends -->

<div class="row">
    <div class="col-xs-7">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p
    </div>
</div>


<img class="logo" src="~/Images/12992152_878683012254808_373451703_n.png" />

<hr style="border-color:black;" />

<div class="row">
    <div class="col-md-4">
        <h3 class="sub-categories">Read about our company here!</h3>
        <img class="home-page-img" src="http://placehold.it/200x150/573e5f/ffffff">
      
        <p class="home-page-btns"><a class="btn btn-default" href="/AboutUs/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3 class="sub-categories">See a list of our services here!</h3>
        <img class="home-page-img" src="http://placehold.it/200x150/573e5f/ffffff">
        <p class="home-page-btns"><a class="btn btn-default" href="/Services/Index">Learn more &raquo;</a></p>
       
    </div>
    <div class="col-md-4">
        <h3 class="sub-categories">Check out our products here!</h3>
        <img class="home-page-img" src="http://placehold.it/200x150/573e5f/ffffff">
        <p class="home-page-btns"><a class="btn btn-default" href="/Products/Index">Learn more &raquo;</a></p>
    </div>
</div>



