@model IEnumerable<CHS.Models.Product>

@{
    ViewBag.Title = "Products";
}
<link href="~/Content/CHSStyles.css" rel="stylesheet" />
<h1 class="page-title">Products</h1>
<hr style="border-color:black;" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ul class="list-group">
                @foreach (var i in Model)
                {
                    <li class="list-group-item">
                        <span class="badge">@i.ProductPrice</span>
                        <img class="products-img" src="https://www.johnsonsbaby.com/sites/jbaby_us/files/styles/product_image/public/product-images/00381370037248_cf_.png?itok=6Rfmak5Y" alt="Product Name">
                        <h4 class="products-title">@i.ProductName</h4>
                        @i.ProductDescription
                    </li>         
                }
            </ul>
           
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

