body {
}

.page-title{
    text-align:center!important;
}
.logo{
    padding-left:22%;
    padding-top:5%;
    padding-bottom:5%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block!important;
    height: auto!important;
    line-height: 1!important;
    margin: 0 auto!important;
    max-width: 100%!important;
    min-width:100%!important;
}

#carousel>.col-xs-12{
    padding:0;
}




